.version.our_beer /* version checker */
{
	color: #0000E0;
	background-color: #0885A3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 570.6999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -159px;
	width: 0.01px;
}

#slideshowu2874
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 106px;
	position: relative;
}

#u2889
{
	position: absolute;
	background-color: transparent;
}

#u2889popup
{
	z-index: 3;
}

#u2894
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2644
{
	z-index: 6;
	min-height: 115px;
	padding-bottom: 9px;
}

#u2644_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -106px;
}

#u2640
{
	z-index: 69;
	width: 168px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#menuu2647
{
	z-index: 7;
	width: 674px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 394px;
}

#u2669
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
}

#u2672
{
	width: 95px;
	padding-bottom: 19px;
}

#u2672:active
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u2672.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u2674
{
	height: 19px;
	width: 56px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u2676
{
	width: 131px;
	min-height: 38px;
	margin-right: -10000px;
	left: 97px;
}

#u2714
{
	width: 131px;
	padding-bottom: 19px;
}

#u2714:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u2714:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u2714.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u2716
{
	height: 19px;
	width: 92px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u2677
{
	width: 171px;
	top: 38px;
}

#u2680
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2680:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2682
{
	height: 17px;
	width: 71px;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u2708
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2680.MuseMenuActive,#u2708:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2710
{
	height: 17px;
	width: 60px;
	margin-right: -10000px;
	top: 2px;
	left: 52px;
}

#u2701
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2708.MuseMenuActive,#u2701:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2704
{
	height: 17px;
	width: 88px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u2694
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2701.MuseMenuActive,#u2694:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2697-4_clip
{
	width: 119px;
	height: 17px;
}

#u2697-4
{
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u2678,#u2679,#u2707,#u2700,#u2693,#u2686
{
	width: 171px;
}

#u2687
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2694.MuseMenuActive,#u2687:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2687.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2689
{
	height: 17px;
	width: 165px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2648
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	left: 230px;
}

#u2649
{
	width: 148px;
	padding-bottom: 19px;
}

#u2649:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2649:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2652
{
	height: 19px;
	width: 109px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u2653
{
	width: 120px;
	top: 38px;
}

#u2654,#u2655
{
	width: 120px;
}

#u2658
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2658:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2658.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2660-4
{
	width: 59px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 25px;
}

#u2658:hover #u2660-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u2658.MuseMenuActive #u2660-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u2718
{
	width: 144px;
	min-height: 38px;
	margin-right: -10000px;
	left: 380px;
}

#u2719
{
	width: 144px;
	padding-bottom: 19px;
}

#u2719:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2719:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2719.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2722
{
	height: 19px;
	width: 105px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u2662
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	left: 526px;
}

#u2665
{
	width: 148px;
	padding-bottom: 19px;
}

#u2649.MuseMenuActive,#u2665:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2665:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2665.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2667
{
	height: 19px;
	width: 110px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u2644-bw
{
	z-index: 6;
	min-height: 115px;
	margin-top: -106px;
}

#pu2627-4
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: 24px;
}

#u2627-4
{
	z-index: 140;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u2628-4
{
	z-index: 144;
	width: 584px;
	min-height: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
}

#ppu2611
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 71px;
}

#u2611
{
	z-index: 126;
	height: 441px;
	width: 183px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
	background: url("../images/u2611.png") no-repeat 6px 6px;
}

#u2611:hover
{
	background: url("../images/u2611-r.png") no-repeat 0px 0px;
}

#u2613
{
	z-index: 129;
	height: 435px;
	width: 162px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 192px;
	background: url("../images/u2613.png") no-repeat 6px 6px;
}

#u2613:hover
{
	background: url("../images/u2613-r.png") no-repeat 0px 0px;
}

#u2615
{
	z-index: 132;
	height: 436px;
	width: 158px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 376px;
	background: url("../images/u2615.png") no-repeat 6px 6px;
}

#u2615:hover
{
	background: url("../images/u2615-r.png") no-repeat 0px 0px;
}

#u2617
{
	z-index: 135;
	height: 435px;
	width: 171px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 564px;
	background: url("../images/u2617.png") no-repeat 6px 6px;
}

#u2617:hover
{
	background: url("../images/u2617-r.png") no-repeat 0px 0px;
}

#u2619
{
	z-index: 138;
	height: 443px;
	width: 174px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 751px;
	background: url("../images/u2619.png") no-repeat 6px 6px;
}

#u2619:hover
{
	background: url("../images/u2619-r.png") no-repeat 0px 0px;
}

#pu2629-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u2629-4
{
	z-index: 148;
	position: relative;
	width: 168px;
	margin-right: -10000px;
}

#u2630-6
{
	z-index: 152;
	position: relative;
	width: 168px;
	margin-right: -10000px;
	left: 188px;
}

#u2631-4
{
	z-index: 158;
	position: relative;
	width: 168px;
	margin-right: -10000px;
	left: 376px;
}

#u2632-4
{
	z-index: 162;
	position: relative;
	width: 168px;
	margin-right: -10000px;
	left: 564px;
}

#u2633-6
{
	z-index: 166;
	margin-bottom: -6px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 746px;
}

#u2629-4_img,#u2630-6_img,#u2631-4_img,#u2632-4_img,#u2633-6_img
{
	display: block;
	vertical-align: top;
}

#u2745
{
	z-index: 109;
	width: 1112px;
	height: 2px;
	left: -76px;
	margin-top: 116px;
}

#u2743
{
	z-index: 107;
	width: 208px;
	margin-left: 376px;
	margin-top: 18px;
}

#u2746-8
{
	z-index: 110;
	margin-left: 396px;
	margin-top: 9px;
}

#pu2639
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 21px;
}

#u2639
{
	z-index: 71;
	height: 109px;
}

.ie #u2639
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2639-bw
{
	z-index: 71;
	margin-top: 34px;
	height: 109px;
}

#u2643
{
	z-index: 72;
	min-height: 137px;
	padding-bottom: 42px;
}

#u2643_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2638-11
{
	z-index: 73;
	margin-right: -10000px;
	margin-top: 18px;
	left: 212px;
}

#u2642-21
{
	z-index: 84;
	margin-right: -10000px;
	margin-top: 15px;
	left: 401px;
}

#u2645
{
	z-index: 105;
	width: 86px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 631px;
}

#u2728
{
	z-index: 122;
	width: 37px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 845px;
}

#u2732
{
	z-index: 120;
	width: 37px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 887px;
}

#u2730
{
	z-index: 118;
	width: 37px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 932px;
}

#u2726
{
	z-index: 124;
	width: 29px;
	margin-right: -10000px;
	margin-top: 47px;
	left: 973px;
}

#u2643-bw
{
	z-index: 72;
	min-height: 137px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 159px;
}

#page .verticalspacer
{
	clear: both;
}

