#pu2489:active #u2489
{
	width: 53px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

.version.our_media /* version checker */
{
	color: #0000FD;
	background-color: #682B4A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1265px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu4333
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -100px;
}

#u4333
{
	z-index: 2;
	min-height: 1197px;
}

#u4333_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 57px;
	padding-bottom: 113px;
}

#u2372-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	left: 308px;
	position: relative;
}

#u2542-6
{
	z-index: 175;
	display: block;
	vertical-align: top;
	left: 288px;
	margin-top: 884px;
	position: relative;
}

#u4333-bw
{
	z-index: 2;
	min-height: 1197px;
	margin-top: 124px;
}

#u143
{
	z-index: 3;
	min-height: 115px;
	padding-bottom: 23px;
}

#u144
{
	z-index: 66;
	width: 168px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#menuu105
{
	z-index: 4;
	width: 674px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 394px;
}

#u113
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
}

#u116
{
	width: 95px;
	padding-bottom: 17px;
}

#u116:active
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u116.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u117
{
	height: 21px;
	width: 63px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u106
{
	width: 131px;
	min-height: 38px;
	margin-right: -10000px;
	left: 97px;
}

#u107
{
	width: 131px;
	padding-bottom: 17px;
}

#u107:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u107.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u108
{
	height: 21px;
	width: 103px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u111
{
	width: 171px;
	top: 38px;
}

#u1071
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1071:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1073
{
	height: 17px;
	width: 71px;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u1078
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1071.MuseMenuActive,#u1078:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1079
{
	height: 17px;
	width: 60px;
	margin-right: -10000px;
	top: 2px;
	left: 52px;
}

#u1085
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1078.MuseMenuActive,#u1085:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1088
{
	height: 17px;
	width: 88px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u1092
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1085.MuseMenuActive,#u1092:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1093-4_clip
{
	width: 119px;
	height: 17px;
}

#u1093-4
{
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u112,#u1070,#u1077,#u1084,#u1091,#u1098
{
	width: 171px;
}

#u1099
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1092.MuseMenuActive,#u1099:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1099.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1101
{
	height: 17px;
	width: 165px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u121
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	left: 230px;
}

#u122
{
	width: 148px;
	padding-bottom: 17px;
}

#u122:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u126
{
	width: 120px;
	top: 38px;
}

#u127,#u1457
{
	width: 120px;
}

#u1458
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1458:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1458.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1460-4
{
	margin-right: -10000px;
	top: 2px;
	left: 22px;
}

#u2411
{
	width: 144px;
	min-height: 38px;
	margin-right: -10000px;
	left: 380px;
}

#u2412
{
	width: 144px;
	padding-bottom: 17px;
}

#u2412:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2412.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u2414
{
	height: 21px;
	width: 118px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u135
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	left: 526px;
}

#u136
{
	width: 148px;
	padding-bottom: 17px;
}

#u122.MuseMenuActive,#u136:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u136.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u124,#u139
{
	height: 21px;
	width: 123px;
	margin-right: -10000px;
	top: 9px;
	left: 19px;
}

#u143-bw
{
	z-index: 3;
	min-height: 115px;
}

#pamphletu2468
{
	z-index: 106;
	width: 0.01px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 862px;
	left: 100px;
}

#u2476
{
	position: absolute;
	width: 1005px;
	background-color: transparent;
	padding-bottom: 44px;
	top: -621px;
	left: -25px;
}

#u2476popup
{
	z-index: 107;
}

#u2477
{
	z-index: 108;
	width: 875px;
	height: 556px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 200px 43px 35px;
	background: #6B6B6B url("../images/beats-1-teaser-003.jpg") no-repeat left top;
	background-size: cover;
}

#u2373-21
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2370
{
	z-index: 131;
	margin-left: 278px;
	margin-top: 41px;
	position: relative;
}

#u2370_states
{
	height: 113px;
	width: 319px;
	vertical-align: top;
	background: url("../images/u2370_states.png") no-repeat 0px 0px;
}

#u2370:hover #u2370_states
{
	background: url("../images/u2370_states-r.png") no-repeat 0px 0px;
}

#u2507
{
	z-index: 133;
	width: 958px;
	height: 790px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-left: 2px;
	padding-top: 1px;
	padding-right: 1px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2378
{
	z-index: 134;
	width: 958px;
	min-height: 702px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2530-8
{
	z-index: 135;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 2px;
	position: relative;
}

#u2513
{
	z-index: 143;
	width: 942px;
	height: 777px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 3px 18px 11px 1px;
}

#u2368
{
	z-index: 144;
	width: 942px;
	min-height: 675px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u2520-8
{
	z-index: 145;
	display: block;
	vertical-align: top;
	margin-left: 45px;
	margin-top: 18px;
	position: relative;
}

#u2469
{
	z-index: 153;
	width: 200px;
	position: relative;
	margin-right: -10000px;
}

#u2474
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #pu2489:active #u2489,.ie #u2474
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2474:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u2474:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u2474:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2512
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 70px;
}

.ie #u2512
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2512:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u2512:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u2512:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u2516
{
	position: absolute;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 140px;
}

.ie #u2516
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2516:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u2516:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u2516:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u2474:active,.ie #u2512:active,.ie #u2516:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu2491
{
	position: absolute;
	width: 0.01px;
	top: -268px;
	left: 68px;
}

#u2491
{
	position: absolute;
	width: 64px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2492-4
{
	z-index: 159;
	width: 20px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #888888;
	line-height: 66px;
	text-align: center;
	font-size: 47px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2489
{
	position: absolute;
	width: 0.01px;
	top: -268px;
	left: 866px;
}

#u2489
{
	position: absolute;
	width: 53px;
	height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2490-4
{
	z-index: 165;
	width: 20px;
	min-height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #888888;
	line-height: 66px;
	text-align: center;
	font-size: 47px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2491 #u2492-4,#pu2489 #u2490-4,#pu2489:active #u2490-4
{
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 6px;
}

#u2493
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	top: -656px;
	left: 878px;
}

#u2493:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2493:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u2494-4
{
	z-index: 171;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu491
{
	width: 0.01px;
	margin: 1318px -10000px -11px -100px;
}

#u491
{
	z-index: 68;
	height: 109px;
}

.ie #u491
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u491-bw
{
	z-index: 68;
	margin-top: 35px;
	height: 109px;
}

#u493
{
	z-index: 69;
	min-height: 168px;
	padding-bottom: 11px;
}

#u143_align_to_page,#u493_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2592-10
{
	z-index: 70;
	margin-right: -10000px;
	margin-top: 10px;
	left: 119px;
}

#u2593-16
{
	z-index: 80;
	margin-right: -10000px;
	margin-top: 15px;
	left: 495px;
}

#u2543
{
	z-index: 100;
	width: 54px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 856px;
}

#u2545
{
	z-index: 98;
	width: 54px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 918px;
}

#u2547
{
	z-index: 96;
	width: 54px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 986px;
}

#u493-bw
{
	z-index: 69;
	min-height: 168px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1317px;
}

