#u1746-3
{
	border-style: none;
	border-color: transparent;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	background: transparent url("../../images/burger.svg") no-repeat right center;
	background-size: contain;
}

#u1746-3:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

#u1746-3:active
{
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

#u1746-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
	border-style: none;
	border-color: transparent;
	background-size: contain;
}

.nosvg #u1746-3
{
	background-image: url('../../images/burger_poster_u1751.png');
}

#u1746-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1762
{
	background-color: #FFFFFF;
	position: relative;
}

#u1762:hover
{
	background-color: #999999;
}

#u1762:active
{
	background-color: #6B6B6B;
}

#u1763-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-transform: uppercase;
	position: relative;
}

#u1854
{
	background-color: #000000;
	position: relative;
}

#u1762.MuseMenuActive,#u1854:hover
{
	background-color: #999999;
}

#u1854:active
{
	background-color: #6B6B6B;
}

#u1856-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u1837
{
	background-color: #FFFFFF;
	position: relative;
}

#u1854.MuseMenuActive,#u1837:hover
{
	background-color: #999999;
}

#u1837:active
{
	background-color: #6B6B6B;
}

#accordionu1738,#u1744,#menuu1760,#u1839-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2032
{
	background-color: #000000;
	position: relative;
}

#u1837.MuseMenuActive,#u2032:hover
{
	background-color: #999999;
}

#u2032:active
{
	background-color: #6B6B6B;
}

#u2034-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u1820
{
	background-color: #FFFFFF;
	position: relative;
}

#u2032.MuseMenuActive,#u1820:hover
{
	background-color: #999999;
}

#u1820:active
{
	background-color: #6B6B6B;
}

#u1820.MuseMenuActive
{
	background-color: #999999;
}

#u1822-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1360,#u2048
{
	background-color: #000000;
}

#u1311,#u1743,#u1761,#u1853,#u1836,#u2031,#u1819,#u2272,#u2285,#u2292,#u2278
{
	background-color: transparent;
	position: relative;
}

