.version.rawene_stout /* version checker */
{
	color: #0000FB;
	background-color: #1761D5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 568px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu2164
{
	width: 0.01px;
	margin-left: -10px;
}

#u2164
{
	z-index: 2;
	min-height: 72px;
	padding-bottom: 6px;
}

#u2166
{
	z-index: 3;
	width: 109px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u2164-bw
{
	z-index: 2;
	min-height: 72px;
}

#accordionu2122
{
	z-index: 5;
	width: 381px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u2123
{
	z-index: 6;
	width: 381px;
}

#u2124-3
{
	z-index: 7;
	width: 371px;
	min-height: 28px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2124-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 371px;
	margin: 0px;
}

#u2124-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 371px;
	margin: 0px;
}

#u2124-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	width: 371px;
	margin: 0px;
}

#u2125
{
	z-index: 10;
	width: 381px;
	padding-bottom: 4px;
}

#menuu2126
{
	z-index: 11;
	width: 360px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u2127
{
	width: 360px;
}

#u2130
{
	width: 360px;
	min-height: 23px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u2130:hover
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2130:active
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2133-4
{
	width: 360px;
	min-height: 23px;
	margin-right: -10000px;
	top: 16px;
}

#u2130:hover #u2133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2130:active #u2133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2135
{
	width: 360px;
	min-height: 23px;
	padding-bottom: 32px;
	margin-right: -10000px;
}

#u2130.MuseMenuActive,#u2135:hover
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2135:active
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2136-4
{
	width: 360px;
	min-height: 23px;
	margin-right: -10000px;
	top: 16px;
}

#u2130.MuseMenuActive #u2133-4,#u2135:hover #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2135:active #u2136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2149
{
	width: 360px;
	min-height: 23px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u2135.MuseMenuActive,#u2149:hover
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2149:active
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2151-4
{
	width: 360px;
	min-height: 23px;
	margin-right: -10000px;
	top: 16px;
}

#u2135.MuseMenuActive #u2136-4,#u2149:hover #u2151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2149:active #u2151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2156
{
	width: 360px;
	min-height: 23px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u2149.MuseMenuActive,#u2156:hover
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2156:active
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2158-4
{
	width: 360px;
	min-height: 23px;
	margin-right: -10000px;
	top: 16px;
}

#u2149.MuseMenuActive #u2151-4,#u2156:hover #u2158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2156:active #u2158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2134,#u2148,#u2155,#u2141
{
	width: 360px;
	margin-top: 2px;
}

#u2142
{
	width: 360px;
	min-height: 23px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u2156.MuseMenuActive,#u2142:hover
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2142:active
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2142.MuseMenuActive
{
	width: 360px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u2145-4
{
	width: 360px;
	min-height: 23px;
	margin-right: -10000px;
	top: 16px;
}

#u2156.MuseMenuActive #u2158-4,#u2142:hover #u2145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2142:active #u2145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u2142.MuseMenuActive #u2145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 360px;
	margin: 0px -10000px 0px 0px;
}

#u4224
{
	z-index: 113;
	width: 191px;
	background-color: transparent;
	margin-left: 95px;
	margin-top: 40px;
	position: relative;
}

#u4223-51
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-left: 7px;
	margin-top: 32px;
	position: relative;
}

#u4233-6
{
	z-index: 115;
	width: 388px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	left: -8px;
	position: relative;
}

#pu4234-10
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: -2px;
}

#u4234-10
{
	z-index: 121;
	width: 165px;
	min-height: 40px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u4234-2
{
	font-weight: normal;
}

#u4235-10
{
	z-index: 131;
	width: 165px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u4235-8
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4235
{
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

#u4235-2
{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	line-height: 18px;
}

#u4235-3
{
	font-size: 15px;
	line-height: 18px;
}

#u4235-6
{
	font-weight: bold;
	line-height: 17px;
}

#u4235-5,#u4235-7
{
	line-height: 17px;
}

#u4236-5
{
	z-index: 141;
	width: 147px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	margin-left: 112px;
	margin-top: 1px;
	position: relative;
}

#u4234,#u4234-3,#u4234-6,#u4236
{
	font-weight: bold;
}

#u2172
{
	z-index: 45;
	width: 350px;
	height: 2px;
	margin-left: 15px;
	margin-top: 10px;
}

#u2169
{
	z-index: 43;
	width: 190px;
	margin-left: 95px;
	margin-top: 7px;
}

#u2173-8
{
	z-index: 46;
	margin-left: 95px;
	margin-top: 8px;
}

#u2121
{
	z-index: 42;
	min-height: 63px;
	padding-bottom: 8px;
}

#u2312
{
	z-index: 54;
	width: 55px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u2314
{
	z-index: 56;
	width: 55px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 114px;
}

#u2316
{
	z-index: 58;
	width: 55px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 216px;
}

#u2318
{
	z-index: 60;
	width: 55px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 315px;
}

#u2121-bw
{
	z-index: 42;
	min-height: 63px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

