.version.pacific_pale_ale /* version checker */
{
	color: #000017;
	background-color: #215986;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u3618
{
	z-index: 55;
	min-height: 116px;
	padding-bottom: 12px;
}

#u3697
{
	z-index: 118;
	width: 168px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 24px;
}

#menuu3619
{
	z-index: 56;
	width: 546px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 258px;
}

#u3634
{
	width: 70px;
	min-height: 38px;
	margin-right: -10000px;
}

#u3635
{
	width: 70px;
	padding-bottom: 19px;
}

#u3635:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u3635.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u3636
{
	height: 19px;
	width: 56px;
	margin-right: -10000px;
	top: 9px;
	left: 7px;
}

#u3648
{
	width: 105px;
	min-height: 38px;
	margin-right: -10000px;
	left: 72px;
}

#u3649
{
	width: 105px;
	padding-bottom: 19px;
}

#u3649:active
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u3649.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u3650
{
	height: 19px;
	width: 92px;
	margin-right: -10000px;
	top: 9px;
	left: 6px;
}

#u3653
{
	width: 171px;
	top: 38px;
}

#u3670
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3670:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3671
{
	height: 17px;
	width: 71px;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u3663
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3670.MuseMenuActive,#u3663:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3666
{
	height: 17px;
	width: 60px;
	margin-right: -10000px;
	top: 2px;
	left: 52px;
}

#u3679
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3663.MuseMenuActive,#u3679:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3680
{
	height: 17px;
	width: 88px;
	margin-right: -10000px;
	top: 2px;
	left: 38px;
}

#u3684
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3679.MuseMenuActive,#u3684:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3686-4_clip
{
	width: 119px;
	height: 17px;
}

#u3686-4
{
	margin-right: -10000px;
	top: 2px;
	left: 23px;
}

#u3654,#u3669,#u3662,#u3676,#u3683,#u3655
{
	width: 171px;
}

#u3656
{
	width: 169px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3684.MuseMenuActive,#u3656:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3656.MuseMenuActive
{
	width: 169px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3658
{
	height: 17px;
	width: 165px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3620
{
	width: 122px;
	min-height: 38px;
	margin-right: -10000px;
	left: 179px;
}

#u3621
{
	width: 122px;
	padding-bottom: 19px;
}

#u3621:active
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u3621.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u3624
{
	height: 19px;
	width: 109px;
	margin-right: -10000px;
	top: 9px;
	left: 6px;
}

#u3625
{
	width: 120px;
	top: 38px;
}

#u3626,#u3627
{
	width: 120px;
}

#u3630
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3630:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3630.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3632-4
{
	width: 59px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 25px;
}

#u3630:hover #u3632-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3630.MuseMenuActive #u3632-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3690
{
	width: 118px;
	min-height: 38px;
	margin-right: -10000px;
	left: 303px;
}

#u3693
{
	width: 118px;
	padding-bottom: 19px;
}

#u3693:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u3693.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u3695
{
	height: 19px;
	width: 105px;
	margin-right: -10000px;
	top: 9px;
	left: 6px;
}

#u3641
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	left: 423px;
}

#u3644
{
	width: 123px;
	padding-bottom: 19px;
}

#u3644:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3644.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3647
{
	height: 19px;
	width: 110px;
	margin-right: -10000px;
	top: 9px;
	left: 6px;
}

#u3618-bw
{
	z-index: 55;
	min-height: 116px;
}

#pu3884
{
	width: 0.01px;
	margin-left: 230px;
	margin-top: 18px;
}

#u3884
{
	z-index: 152;
	width: 309px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3884_img
{
	padding-right: 1px;
}

#u3897
{
	z-index: 190;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 227px;
}

#pu3883-31
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 18px;
}

#u3883-31
{
	z-index: 121;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3890-6
{
	z-index: 154;
	width: 396px;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
}

#u3891-13
{
	z-index: 160;
	width: 168px;
	min-height: 40px;
	background-color: transparent;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 812px;
	left: 20px;
}

#u3892-11
{
	z-index: 173;
	width: 168px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 812px;
	left: 208px;
}

#u3892
{
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

#u3892-2
{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	line-height: 18px;
}

#u3893-6
{
	z-index: 184;
	width: 150px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 855px;
	left: 122px;
}

#u3891-11,#u3892-9,#u3893-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3891,#u3891-3,#u3891-7,#u3892-6,#u3893
{
	font-weight: bold;
	line-height: 17px;
}

#u3891-6,#u3891-8,#u3891-10,#u3892-5,#u3892-7,#u3893-2
{
	line-height: 17px;
}

#u3891-2,#u3891-9,#u3892-3,#u3892-8,#u3893-3
{
	font-size: 12px;
	line-height: 14px;
}

#u3594
{
	z-index: 40;
	width: 638px;
	height: 1px;
	margin-left: 81px;
	margin-top: 25px;
}

#u3592
{
	z-index: 38;
	width: 208px;
	margin-left: 295px;
	margin-top: 18px;
}

#u3595-8
{
	z-index: 41;
	margin-left: 316px;
	margin-top: 9px;
}

#pu3586
{
	width: 0.01px;
	margin-top: 22px;
}

#u3586
{
	z-index: 2;
	height: 109px;
}

.ie #u3586
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3586-bw
{
	z-index: 2;
	margin-top: 34px;
	height: 109px;
}

#u3587
{
	z-index: 3;
	min-height: 150px;
	padding-bottom: 29px;
}

#u3588-11
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 18px;
	left: 32px;
}

#u3589-21
{
	z-index: 15;
	margin-right: -10000px;
	margin-top: 15px;
	left: 221px;
}

#u3590
{
	z-index: 36;
	width: 86px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 433px;
}

#pu3600
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 595px;
}

#u3600
{
	z-index: 53;
	width: 58px;
}

#u3596
{
	z-index: 49;
	width: 58px;
	margin-top: 19px;
}

#pu3598
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 661px;
}

#u3598
{
	z-index: 51;
	width: 58px;
}

#u3615
{
	z-index: 120;
	margin-left: 13px;
	margin-top: 25px;
}

#u3587-bw
{
	z-index: 3;
	min-height: 150px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

